
.review-all-games-container{
    margin-top: 8em;

    width: 90vw;
    
    @media (max-width:800px) {

        margin-top: 5em;
        
    }

    .reviews-header{
        // width: 100%;
        // height: 8em;
        padding: 2em;
        background-color: var(--purple);

        border-top-right-radius: 10px;
        border-top-left-radius: 10px;


    }
}


.review-game-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,auto);
    align-items: center;
    // justify-items: center;

    
    background-color: rgb(62, 62, 62);

    border-top: 1px solid var(--text);
    border-left: 1px solid var(--text);
    border-right: 1px solid var(--text);
    &:nth-of-type(2n){
        
        background-color: rgb(31, 31, 31);
        // background-color: rgb(82, 82, 82);
    }
    .review-container{

    }
    
    h3{
        font-size: 2em;
        width: 80%;
        margin: 0 auto;
        @media (max-width:800px) {
           font-size: 1.5em;

            
        }
    }
    img{
        margin: 2em;
        width: 45%;
        @media (max-width:800px) {
            width: 70%;
            
        }
        border-radius: 5px;
    }

    .slider-container{
        grid-column: 1/-1;
        grid-row: 2/3;


        width: 80%;
        // height: 50vh;
        // height: 250px;

        margin: 0 auto;
        padding: 1em;

    }

}