.section-container.game-details{
    width: 90vw;
    max-width: 1800px;
    margin-top: 8em;

    @media (min-width:1200px) {
        // display: grid;
        // grid-template-columns: repeat(2,1fr);


        .game-page{
            grid-column: 1/2;
            grid-row: 1/-1;

        }
        .review-container{
            
            // grid-row: 1/-1;
            grid-column: 1/-1;
        }
    }
    .game-page{

                display: grid;
            grid-template-columns: repeat(2,1fr);
        justify-items: center;
        align-items: center;
        gap: 1em;
        @media (max-width:500px) {
            display: flex;
            flex-direction: column;
            
        }

        h2{
            font-size: 5vw;
            font-size: 3em;
        }
        .preview{
            grid-column: 1/-1;
        }
        
        h3{
            grid-column: 1/-1;
            font-size: 2em;

        }

        .labels-container{
            grid-column: 1/-1;

        }

    }
    .cover-container{
        display: flex;

        &:hover .buttons-container{
            opacity: 1;

        }
        .buttons-container{
            position: absolute;
            top: 40%;
            right: 50%;
            transform: translate(50%, -50%);
            font-size: 1.5em;
            
            height: 30px;
            /* width: 250px; */
            
            background-color: rgba(0, 0, 0, 0.771);
            border: 1px solid var(--text);
            
            /* padding: 50px; */
            border-radius: 25px;
            
            cursor: pointer;
            opacity: 0;
            transition: 0.2s;


      
            }
            .game-details-cover{
                // width: 250px;
                width: 35vw;
                max-width: 400px;
                min-width: 150px;
                border-radius: 5px;
            }
            grid-column: 1/2;
        }
}     
 .unavailable{
                background-color: var(--high-importance);
                color: var(--text);
                padding: 5px;
                border-radius: 5px;
                border: 1px solid var(--mid-importance);
            
                position: absolute;
                // left: 0px;
                // top: 3em;
                // height: 100%;
                transform: rotate(10deg);
                z-index: 2;

            }

            .buttons-container{
                display: flex;
                gap: 1em;
            }